<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/header::header_layout"></head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-lg-5">
                <!-- Basic login form-->
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header justify-content-center"><h3 class="fw-light my-4">로그인</h3></div>
                    <div class="card-body">
                        <!-- Login form-->
                        <form class="user" th:action="@{/login_proc}" method="post">
                            <div th:if="${error}">
                                <p id="valid" class="alert alert-danger" th:text="${exception}"></p>
                            </div>

                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="userId">아이디</label>
                                <input class="form-control" id="userId" name="userId" type="text" placeholder="아이디를 입력해주세요.">
                            </div>
                            <!-- Form Group (password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="userPw">비밀번호</label>
                                <input class="form-control" id="userPw" name="userPw" type="password" placeholder="비밀번호를 입력해주세요.">
                            </div>
                            <!-- Form Group (remember password checkbox)-->
<!--                            <div class="mb-3">-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="">-->
<!--                                    <label class="form-check-label" for="rememberPasswordCheck">Remember password</label>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- Form Group (login box)-->
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
<!--                                <a class="small" href="auth-password-basic.html">Forgot Password?</a>-->
                                <button type="submit" class="btn btn-primary">로그인</button>
                            </div>
                        </form>
                    </div>
<!--                    <div class="card-footer text-center">-->
<!--                        <div class="small"><a href="auth-register-basic.html">Need an account? Sign up!</a></div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

</body>

</html>